header{
    background-color: #150f1280;
    color: white;
};
header{
    background-color: #150f1260;
    color: white;
};
header{
    background-color: #150f1260;
    color: black;
};
body{
    background-color: #150f1280;
};
